@font-face {
    font-family: comic;
    src: url('../../font/NeSkidComica.ttf');
}
*{
    background:  url(../../img/interface/bg.jpg); 
    background-size: auto;
    font-family: 'comic';
}

#buttons{
    width: 100%;
}
#butOK{
    width: 50%;    
}
#butCanc{
    width: 50%;    
}