*{
    background:  url(../../img/interface_font.png); 
    background-size: auto;

}

.leftSettingList{
    height: 100%;
    width:  35%;
    position: absolute;
}
.RightSettingList{
    height: 100%;
    width: 65%;
    position: absolute;
    left:  35%;
    
}