@font-face {
    font-family: comic;
    src: url('../../font/NeSkidComica.ttf');
}

*{
    font-family: 'comic';
    color: red;
;
}
.mainBG{
    background: #01afc8;
    position: fixed;
    border-radius: 0.3em;
    width: auto;
    height: auto;
            margin-left: 30%;
    margin-top: 20%;

   
   
}
.send{
    width: 46%;
    height: 45%;
    font-size: 90%;
    border-radius: 3%;
    margin: 2px;
}
.cancel{
     width: 46%;
    height: 45%;
    border-radius: 3%;
   
    margin: 2px;
}
.line{
    width: 96%;
    height: 40%;
    
    border-radius: 3%;
    margin: 2px;
}
.p{
/*    height: 20%;*/
}